<h1>ようこそ <strong>Bookers1</strong>  へ！</h1>
<p><strong>Bookers1</strong>  では、さまざまな書籍に関するあなたの意見や</p><p>印象を共有し交換することができます</p>
<p><%= link_to 'start',books_path %></p> 
<h2>要素一覧</h2>
<h3>投稿　ユーザー　登録</h3>   	
